src/main/resources/application.wadl

<?xml version="1.0"?>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <grammars/>
  <resources base="/">
    <resource path="/restcns/">
      <resource path="application.wadl">
        <method name="GET">
          <request>
            <representation mediaType="*/*">
              <param name="request" style="plain" type="xs:string"/>
            </representation>
          </request>
          <response>
            <representation mediaType="application/vnd.sun.wadl+xml">
              <param name="result" style="plain" type="xs:string"/>
            </representation>
            <representation mediaType="application/xml">
              <param name="result" style="plain" type="xs:string"/>
            </representation>
          </response>
        </method>
      </resource>
      <resource path="getDatosEjecutivo">
        <method name="POST">
          <request>
            <param name="nbranch" style="query" type="xs:string"/>
            <param name="nproducto" style="query" type="xs:string"/>
          </request>
          <response>
            <representation mediaType="application/json">
              <param name="result" style="plain" type="xs:string"/>
            </representation>
          </response>
        </method>
      </resource>
    </resource>
  </resources>
</application>